.parent {
    padding:25px; 
   background-color: blanchedalmond;
   display:flex;
   gap: 30px; 
   justify-content: space-between;
   justify-content:space-around;
   justify-content:space-evenly;
   height:400px;
   align-items:center;
   flex-direction: column;
   flex-direction: column-reverse;

}

.child{

   border: 2px solid red;
   background: rgb(205, 205, 180);
   padding:20px;
   font-size:18;
   margin:10px 0;

}